$yellow: #fcca46;
$lightYellow: #fdd25e;
$lightestYellow: #fdefc3;
$darkYellow: #de9e36;
$lightBlue: #59cd90;
$blue: #2292a4;
$deepBlue: #0072bb;
$darkBlue: #233d4d;
$orange: #fe7f2d;
$black: #050401;
$white: #ebf6ff;
$lightGreen: #7ddf64;
$green: #04e762;
$darkGreen: #5c8001;
$purple: #dc0073;
$deepPurple: #731dd8;
$red: #780116;
$indigo: #440381;
$maroon: #c42348;
$lavender: #80475e;

@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");
//font-family: 'Noto Sans JP', sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");

$Primary: "Noto Sans JP", sans-serif;
$Secondary: "Comfortaa", cursive;
$Script: "Monoton", cursive;
$Patrick: "Patrick Hand", cursive;
$Typeface: "Cutive Mono", monospace;
