body {
  background-image: linear-gradient(to bottom, $white, $white, $white, $yellow);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  position: relative;
}

.profile-pic {
  height: 35vh;
  position: relative;
}

.profile-pic1 {
  height: 100%;
  width: auto;
  border-radius: 50%;
  -webkit-filter: drop-shadow(5px 5px 5px $yellow);
  filter: drop-shadow(5px 5px 5px $yellow);
}

.profile-pic2 {
  height: 100%;
  opacity: 0;
  width: auto;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s ease-in;
}

.profile-pic2:hover {
  opacity: 1;
  -webkit-filter: drop-shadow(5px 5px 5px $orange);
  filter: drop-shadow(5px 5px 5px $orange);
}

.hero-header {
  z-index: 1;
  min-height: 100vh;
  background-image: url(./Assets/colors.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.hero-header h1 {
  padding: 1vh 1vw;
  background: rgba($color: white, $alpha: 0.7);
  width: inital;
  margin: 0 auto;
  border-radius: 20px;
}

.hero-header h2 {
  padding: 1vh 1vw;
  background: rgba($color: white, $alpha: 0.7);
  width: initial;
  margin: 0 auto;
  border-radius: 20px;
}

.social-media {
  margin-top: 5vh;
  display: flex;
  justify-content: space-evenly;
  opacity: 0;
  z-index: 5;
  transform: translateY(4em);
  transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1),
    opacity 0.3s 0.25s ease-out;
  will-change: transform, opacity;
}

.social-media.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.twitter a {
  height: 3rem;
  width: 3rem;
}

.twitter {
  height: 3rem;
  width: 3rem;
  background-image: url(../styles/Assets/twitter.png);
  background-repeat: no-repeat;
  background-size: 100%;
  transition: all 0.25s ease-in;
}

.twitter:hover {
  background-image: url(../styles/Assets/twitter-after.png);
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-filter: drop-shadow(5px 5px 5px $yellow);
  filter: drop-shadow(5px 5px 5px $yellow);
}

.linkedin {
  height: 3rem;
  width: 3rem;
  transition: background-image 1s ease-in-out;
  background-image: url(../styles/Assets/linkedin.png);
  background-repeat: no-repeat;
  background-size: 100%;
  transition: all 0.25s ease-in;
}

.linkedin:hover {
  height: 3rem;
  width: 3rem;
  background-image: url(../styles/Assets/linkedin-after.png);
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-filter: drop-shadow(5px 5px 5px $lightBlue);
  filter: drop-shadow(5px 5px 5px -2px $lightBlue);
}

.github {
  height: 3rem;
  width: 3rem;
  background-image: url(../styles/Assets/github.png);
  background-repeat: no-repeat;
  background-size: 100%;
  transition: all 0.25s ease-in;
}

.github:hover {
  height: 3rem;
  width: 3rem;
  background-image: url(../styles/Assets/github-after.png);
  background-repeat: no-repeat;
  background-size: 100%;
  transition: all 0.25s ease-in;
  -webkit-filter: drop-shadow(5px 5px 5px $green);
  filter: drop-shadow(5px 5px 5px $green);
}

.about {
  padding-top: 5vh;
  padding-bottom: 5vh;
  min-height: 95vh;
}

.skills {
  padding-top: 5vh;
  padding-bottom: 5vh;
  min-height: 95vh;
}

.experience {
  padding-top: 5vh;
  padding-bottom: 5vh;
  min-height: 95vh;
}

.projects {
  padding-top: 5vh;
  padding-bottom: 5vh;
  min-height: 95vh;
}

.contact {
  padding-top: 10vh;
  padding-bottom: 5vh;
  min-height: 95vh;
}

.section-header {
  font-size: 1.5rem;
  text-transform: uppercase;
  background-color: white;
  border-radius: 10px;
  width: 50vw;
  padding: 10px;
  margin: 0 auto;
}

.name,
.description {
  opacity: 0;
  z-index: 5;
  transform: translateX(-4em);
  transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1),
    opacity 0.3s 0.25s ease-out;
  will-change: transform, opacity;
}

.name.is-visible,
.description.is-visible {
  opacity: 1;
  transform: translateX(0);
}

.slit-in-horizontal {
  -webkit-animation: slit-in-horizontal 0.55s ease-out both;
  animation: slit-in-horizontal 0.55s ease-out both;
}

@-webkit-keyframes slit-in-horizontal {
  0% {
    -webkit-transform: translateZ(-800px) rotateX(90deg);
    transform: translateZ(-800px) rotateX(90deg);
    opacity: 0;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotateX(87deg);
    transform: translateZ(-160px) rotateX(87deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(0) rotateX(0);
    transform: translateZ(0) rotateX(0);
  }
}
@keyframes slit-in-horizontal {
  0% {
    -webkit-transform: translateZ(-800px) rotateX(90deg);
    transform: translateZ(-800px) rotateX(90deg);
    opacity: 0;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotateX(87deg);
    transform: translateZ(-160px) rotateX(87deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(0) rotateX(0);
    transform: translateZ(0) rotateX(0);
  }
}
